body {
  background-color: rgb(29, 29, 29);
  color: white;
}

header {
  margin: 20px;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;

  font-size: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 150px;
}

.game-container .board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 390px;
}

.game-container .board .cell {
  width: 120px;
  height: 120px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game-container .board .cell:nth-child(even) {
  background-color: #f0f0f0;
}
.game-container .board .cell:nth-child(odd) {
  background-color: rgb(182, 190, 132);
}

.player-turn,
.score {
  font-size: 30px;
  margin-bottom: 10px;
}
