body {
  background-color: rgb(29, 29, 29);
  color: white;
}

header {
  margin: 20px;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;
  
  font-size: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}


.game-container{
    width:50%;
    background-color: green;
    position:absolute;
    top:25%;
    left:25%;
    right:25%;
    bottom:25%;
    height:50%;
    
    
}